Lab4/TestLab4/Service References/OrdersRef/OrdersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lab4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lab4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItems" nillable="true" type="tns:OrderItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItems" nillable="true" type="tns:ArrayOfOrderItems" />
  <xs:complexType name="OrderItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:double" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItems" nillable="true" type="tns:OrderItems" />
  <xs:complexType name="OrderBillingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderBillingInfo" nillable="true" type="tns:OrderBillingInfo" />
</xs:schema>